.App {
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
}

.title {
  display: flex;
}
.fetchBtn {
  margin-left: 30px;
}

.commits {
  margin-top: 20px;
}

.commit {
  padding-block: 10px;
  display: flex;
  flex-direction: column;
}
